button {
 border: none;
 background: #3a7999;
 color: #ffffff;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}


button:hover:before {
 width: 100%;
}

tabla {
  border-collapse: collapse;
  width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: text-top;
}

body {
  background:url(../img/fondo.jpg)no-repeat fixed center center;
  background-size: cover;
}

div#panelUno{
  margin:auto;
  width:1275px;
  height:5px;
  background-color: #3a7999;
}

div#panelDos{
  margin:auto;
  width:1275px;
  height:25px;
  background-color: #ffffff;
}

div#panelTres{
  margin:auto;
  width:1275px;
  height:5px;
  background-color: #3a7999;
}

div#panelCuatro{
  margin:auto;
  width:1275px;
  height:15px;
  background-color: #ffffff;
}

div#panelSeis{
  margin:auto;
  width:800px;
  height:900px;
  background-color: #ffffff;
}

h4{
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(11, 11, 11);
  background-color: rgb(255, 255, 255);
  font-size: 25px;
}
